<% if (locals.errors) {%>
    <div class="errores-div">
        <ul>
            <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
                <% }); %>
            </ul>
        </div>
  <% } %>
  