<form action="/filtrar" method="get">
    <select name="categoria" id="categoria">
        <option value="laptop">Laptop</option>
        <option value="smartphone">Smartphone</option>
        <option value="ropa-hombre">Ropa hombre</option>
        <option value="ropa-mujer">Ropa mujer</option>
    </select>
    <button type="submit">Buscar</button>
</form>