<header>
    <div class="logo-div">
        <img src="/icons/express-icon.png" alt="">
        <h1><a href="/">MarketExpress</a></h1>
    </div>
    <form action="/busqueda" method="get">
        <input type="text" name="q" placeholder="Buscar un producto...">
        <button>Buscar</button>
        <a href="https://github.com/orellanaseba" target="_blank"><img src="/icons/github.png" style="width: 25px;" alt="perfil github"></a>
    </form>
    <nav>
        <ul>
            <a href="/productos">Productos</a>
            <a href="/categorias">Categorías</a>
        </ul>
    </nav>
    <div class="login-div">
        <a href="/nuevo-producto"><img title="Nuevo producto" src="/icons/upload.png" alt="upload icon"></a>
    </div>
</header>